*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.top{
padding-top:4rem ;
    padding-left: 3rem;
    display: flex;
    background-color: rgba(4, 1, 19, 0.658);
}
button,a{
    margin-left: 1rem; 
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    border: 1px ;
    text-decoration: none;
    background-color: rgba(165, 42, 42, 0.041);
}
i{
    color: rgba(4, 1, 19, 0.658);
    margin-top: 30rem;
    font-size: 1.5rem;
    font-weight: 300;
}
button:hover,a:hover{

 color: black;
 text-shadow: 2px 2px 2px black;
 background-color: white;
 width: 4.5rem;
 border-radius: 10px;
}
i:hover{
    background-color:  rgba(4, 1, 19, 0.658);
}



.tit{
    font-family: 'Times New Roman', Times, serif;
    padding: 2rem;
   color:rgba(4, 1, 19, 0.658);
   text-shadow: 1px 1px 1px rgba(4, 1, 19, 0.658);
}

